.blogs_item {
  background: #ffffff;
  height: 320px;
  border: 1px solid rgba(164, 178, 205, 0.2);
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 50px;
  text-align: left;
  overflow: hidden;

  &:lang(ar) {
    text-align: right;
  }

  .v-image {
    min-height: 214px;
    border-radius: 10px;
  }

  img {
    height: 171px;
    width: 100%;
  }

  h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
    height: 54px;
    overflow: hidden;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    opacity: 0.4;
    margin-top: 10px;
    height: 45px;
    overflow: hidden;
  }
}


.blogTabs {
  margin-bottom: 30px;


  .v-tab:before {
    display: none;
  }

  .blogTab {
    border-radius: 14px;


    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #999999;
    margin-bottom: 30px;
    margin: 0px 10px;

    a {
      min-width: 133px;
      height: 42px;
      border-radius: 14px;
      padding: 0px 10px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

  }

  .blogTab.v-tab--active {
    a {
      background: rgba(59, 177, 67, 0.2);
      color: #3BB143 !important;
    }
  }

  .v-tabs-slider {
    display: none;
  }

}