//color-primary
$c-p: var(--c-p);
//color-second
$c-s: var(--c-s);
//color-Third
$c-t: var(--c-t);

//color-Fourth
$c-f: var(--c-f);



//color-font-primary
$c-f-p: var(--c-f-p);
$c-f-s: var(--c-f-s);


//color-bg-primary
$c-bg-p: var(--c-bg-p);
//color-bg-second
$c-bg-s: var(--c-bg-s);

$c-btn-p: var(--c-btn-p);
$c-btn-f-p: var(--c-btn-f-p);

 
//color border primary
$c-b-p: var(--c-b-p);
// $letter-spacing: var(--letter-spacing);